@charset "UTF-8";
/* Colors */
@font-face {
  font-family: "Roboto-Regular";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Shrikhand-Regular";
  src: url("../font/Shrikhand-Regular.ttf") format("truetype");
}

.icon {
  width: 0.7rem;
}

body {
  font-family: Roboto-Regular;
  margin: 0;
}

h1 {
  font-family: Shrikhand-Regular;
  font-size: 1.7rem;
  text-align: center;
  padding: 2% 0 2% 0;
  margin: 0;
}

h2 {
  font-size: 1.3rem;
  padding-left: 5%;
}

.research {
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0 1em 0;
}

.research__icon {
  margin-right: 3%;
}

.research__input {
  font-weight: bold;
  background-color: #e6e6e6;
  border-style: none;
  padding-top: 1%;
  width: 35%;
  max-width: 140px;
}

footer {
  background-color: #383636;
  padding: 2% 0 0 5%;
  color: white;
}

footer h4 {
  font-family: Shrikhand-Regular;
  font-size: 1rem;
}

.listfooter {
  list-style: none;
  padding-left: 0;
  padding-bottom: 5%;
  margin: 0;
}

.listfooter__item {
  margin-bottom: 2%;
}

.linkfooter {
  text-decoration: none;
  color: white;
}

.linkfooter__icon {
  width: 0.8rem;
  margin-right: 2%;
}

.headerhome {
  border-bottom: 2px inset #c5c0c0;
}

.research-sublevel {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0 12% 0;
}

.research-sublevel__title {
  padding: 0 20% 0 20%;
  margin-bottom: 0;
  text-align: center;
}

.research-sublevel__subtitle {
  padding: 0 10% 2% 10%;
  text-align: center;
}

.research-sublevel__btn {
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 1.2em 3em 1.2em 3em;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: 0.25rem 0.25rem 5px #c5c0c0;
}

.operating {
  width: 100%;
  padding: 7% 0 7% 0;
}

.operating .list-steps {
  list-style-type: none;
  counter-reset: number;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding-left: 4%;
}

.operating .list-steps__item {
  counter-increment: number;
  background-color: #f3f3f3;
  box-shadow: 0.25rem 0.25rem 5px #c5c0c0;
  border-radius: 25px;
  padding: 20px 0 20px 30px;
  margin-bottom: 7%;
  position: relative;
  width: 85%;
  display: flex;
  align-items: center;
}

.operating .list-steps__item::before {
  content: counter(number);
  background-color: #9356DC;
  border-radius: 20px;
  padding: 4px 8px;
  color: white;
  position: absolute;
  left: -.9em;
}

.operating .list-steps__item .operating__icon {
  margin-right: 1.5em;
  width: 1rem;
}

.restaurants {
  background-color: #f3f3f3;
  padding: 7% 0 7% 0;
}

.restaurants__title {
  margin-bottom: 5%;
}

.container-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container-restaurants__card {
  width: 92%;
  text-decoration: none;
  color: black;
  box-shadow: 0.25rem 0.25rem 5px #c5c0c0;
  border-radius: 20px;
  margin-bottom: 5%;
}

.container-restaurants__card__img {
  position: relative;
}

.container-restaurants__card__img--format {
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.container-restaurants__card__img--label {
  font-size: 0.9em;
  font-weight: bold;
  background-color: #99E2D0;
  color: #1b6150;
  padding: 6px 10px 6px 10px;
  position: absolute;
  top: 1em;
  right: 1em;
}

.container-restaurants__card__legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10% 0 5%;
}

.container-restaurants__card__legend__name--title {
  margin-top: 8%;
  margin-bottom: 5%;
  font-size: 1em;
}

.container-restaurants__card__legend__name--adress {
  margin-top: 0;
  margin-bottom: 10%;
}

.container-restaurants__card__legend__heart {
  padding-bottom: 4%;
}

.container-restaurants__card__legend__heart--clr {
  width: 1.7em;
}

h1 {
  font-family: Shrikhand-Regular;
}

/* 				1. Utils :
					1. Variables.
					2. Fonctions.
					3. Mixins.
					4. Placeholders.
				2. Feuilles de style de tiers (vendors) (si vous en avez).
				3. Base.
				4. Composants.
				5. Layout.
				6. Pages.
                7. Thèmes. */
/*# sourceMappingURL=style.css.map */