@charset "UTF-8";
@font-face {
  font-family: "Roboto-Regular";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Shrikhand-Regular";
  src: url("../font/Shrikhand-Regular.ttf") format("truetype");
}

.icon {
  width: 0.7rem;
}

body {
  font-family: Roboto-Regular;
  margin: 0;
}

h1 {
  font-family: Shrikhand-Regular;
  font-size: 1.8rem;
  font-weight: normal;
}

h2 {
  font-size: 1.3rem;
}

.hdrmain {
  width: 100%;
  padding: .75em 0;
  height: 2.25em;
  background-color: white;
  border-bottom: 2px inset #c5c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.research {
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1em 0 1em 1em;
  height: 5.5em;
}

.research__icon {
  margin-right: 1em;
  margin-bottom: .5em;
}

.research__input {
  font-weight: bold;
  background-color: #e6e6e6;
  border-style: none;
  padding-top: 1%;
  width: 35%;
  max-width: 140px;
  margin-bottom: .4em;
}

@media (max-width: 374px) {
  .research__input {
    width: 40%;
  }
}

footer {
  background-color: #383636;
  padding: .75em 0 2.25em 1.2em;
  color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    padding-left: 5em;
  }
}

footer h4 {
  font-family: Shrikhand-Regular;
  font-size: 1rem;
  font-weight: normal;
}

.listfooter {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.listfooter__item {
  margin-bottom: 1em;
}

.linkfooter {
  text-decoration: none;
  color: white;
}

.linkfooter__icon {
  width: 0.8rem;
  margin-right: 1em;
}

/** Style de la page index **/
.research-sublevel {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0 3em 0;
}

.research-sublevel__title {
  padding: 0 4em 0 4em;
  margin: 0;
  margin-bottom: 0;
  text-align: center;
}

@media (max-width: 374px) {
  .research-sublevel__title {
    padding: 0 2em 0 2em;
  }
}

.research-sublevel__subtitle {
  padding: 0 2em 1em 2em;
  text-align: center;
}

@media (max-width: 374px) {
  .research-sublevel__subtitle {
    padding: 0 1em 1em 1em;
  }
}

.research-sublevel__btn {
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 1.2em 3em 1.2em 3em;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: 0.25rem 0.25rem 5px #c5c0c0;
}

.operating {
  padding: 1.5em 0 3em 0;
}

@media (min-width: 1441px) {
  .operating {
    margin-right: 1%;
  }
}

.operating__hdr {
  margin-left: 1em;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .operating__hdr {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .operating__hdr {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1441px) {
  .operating__hdr {
    display: flex;
    justify-content: center;
  }
}

.operating__list-steps {
  list-style-type: none;
  counter-reset: number;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 1.5em 0 0 .85em;
  padding-left: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .operating__list-steps {
    margin-left: 1.75em;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .operating__list-steps {
    margin-left: 2em;
  }
}

@media (min-width: 1441px) {
  .operating__list-steps {
    margin-left: 3%;
  }
}

.operating__list-steps__item {
  counter-increment: number;
  background-color: #eeeeee;
  box-shadow: 0.25rem 0.25rem 5px #c5c0c0;
  border-radius: 25px;
  padding: 20px 0 20px 40px;
  margin: 0 0 1.25em 0;
  position: relative;
  width: 85%;
  max-width: 19em;
  display: flex;
  align-items: center;
}

.operating__list-steps__item::before {
  content: counter(number);
  background-color: #9356DC;
  border-radius: 20px;
  padding: 4px 8px;
  color: white;
  position: absolute;
  left: -.65em;
}

.operating__list-steps__item__icon {
  margin-right: 1.5em;
  width: 1rem;
}

.restaurants {
  background-color: #eeeeee;
  padding: 1.5em 0 3em 0;
}

.restaurants__hdr {
  margin-left: 1em;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .restaurants__hdr {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .restaurants__hdr {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1441px) {
  .restaurants__hdr {
    display: flex;
    justify-content: center;
  }
}

.container-restaurants {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em 0 0 0;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .container-restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 6em 0 6em;
  }
}

@media (min-width: 1441px) {
  .container-restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 6em 0 6em;
  }
}

.container-restaurants__card {
  width: 90%;
  text-decoration: none;
  color: black;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 5px #c5c0c0;
  border-radius: 20px;
  margin-bottom: 1em;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container-restaurants__card {
    max-width: 43em;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .container-restaurants__card {
    width: 45%;
    max-width: 40em;
    margin-bottom: 4%;
  }
}

@media (min-width: 1441px) {
  .container-restaurants__card {
    width: 45%;
    max-width: 40em;
    margin-bottom: 4%;
  }
}

.container-restaurants__card__img {
  position: relative;
}

.container-restaurants__card__img--format {
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.container-restaurants__card__img--label {
  font-size: 0.9em;
  font-weight: bold;
  background-color: #99E2D0;
  color: #1b6150;
  padding: 6px 10px 6px 10px;
  position: absolute;
  top: 1em;
  right: 1em;
}

.container-restaurants__card__legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10% 0 5%;
}

.container-restaurants__card__legend__name--title {
  margin-top: 8%;
  margin-bottom: 5%;
  font-size: 1em;
}

.container-restaurants__card__legend__name--adress {
  margin-top: 0;
  margin-bottom: 10%;
}

.container-restaurants__card__legend__heart {
  padding-bottom: 2%;
}

.container-restaurants__card__legend__heart--clr {
  width: 1.7em;
}

/** Style des pages de menu **/
.hdrpge__icon {
  width: 1em;
  opacity: 0.5;
  position: absolute;
  left: 2em;
  top: 1.5em;
}

.hdrpge__logo {
  width: 9.80em;
}

.illustration {
  height: 16em;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .illustration {
    height: 100%;
    position: fixed;
    top: 3.8em;
    z-index: -2;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .illustration {
    width: 100%;
    position: fixed;
    top: 3.8em;
    z-index: -2;
  }
}

@media (min-width: 1441px) {
  .illustration {
    width: 100%;
    position: fixed;
    top: 3.8em;
    z-index: -2;
  }
}

.illustration--fit {
  width: 100%;
  height: 17em;
  object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .illustration--fit {
    height: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .illustration--fit {
    height: 60em;
  }
}

@media (min-width: 1441px) {
  .illustration--fit {
    height: 60em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5em;
    z-index: 0;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .main-menu {
    width: 100%;
    display: flex;
    position: relative;
    top: 7em;
    z-index: 0;
  }
}

@media (min-width: 1441px) {
  .main-menu {
    width: 100%;
    display: flex;
    position: relative;
    top: 7em;
    z-index: 0;
  }
}

.blockmenu {
  position: relative;
  background-color: #eeeeee;
  padding-top: 1em;
  border-radius: 40px 40px 0 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .blockmenu {
    background-color: transparent;
    border: 4px solid white;
    border-radius: 40px;
    margin: 1em 0 2em 0;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .blockmenu {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1441px) {
  .blockmenu {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
  }
}

.hdrsections {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hdrsections {
    background-color: white;
    width: 92%;
    opacity: 0.75;
    margin-left: .75em;
    border-radius: 20px;
    background-color: #eeeeee;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .hdrsections {
    width: 100%;
    background-color: #eeeeee;
    opacity: 0.75;
    border-radius: 25px;
    margin: 1em 20% 5em 20%;
  }
}

@media (min-width: 1441px) {
  .hdrsections {
    width: 100%;
    background-color: #eeeeee;
    opacity: 0.75;
    border-radius: 25px;
    margin: 1em 20% 5em 20%;
  }
}

.hdrsections__namerestaurant {
  margin-right: 1em;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .hdrsections__namerestaurant {
    margin-right: 3em;
    margin-left: 3em;
  }
}

@media (min-width: 1441px) {
  .hdrsections__namerestaurant {
    margin-right: 3em;
    margin-left: 3em;
  }
}

.hdrsections__icon {
  margin-right: .5em;
  width: 1.5em;
  opacity: 0.5;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .menusection {
    width: 33%;
  }
}

@media (min-width: 1441px) {
  .menusection {
    width: 33%;
  }
}

.menusection__hdr {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .menusection__hdr {
    justify-content: flex-start;
  }
}

.menusection__hdr__title {
  text-transform: uppercase;
  font-size: 1.2em;
  opacity: 0.5;
  font-weight: normal;
  width: 10%;
  margin-right: 15em;
  position: relative;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .menusection__hdr__title {
    background-color: #d7c0f2;
    opacity: 1;
    width: auto;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 20px;
    margin-left: 1em;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .menusection__hdr__title {
    background-color: #d7c0f2;
    opacity: 1;
    width: auto;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 20px;
    margin-left: 14em;
  }
}

@media (min-width: 1441px) {
  .menusection__hdr__title {
    background-color: #d7c0f2;
    opacity: 1;
    width: auto;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 20px;
    margin-left: 14em;
  }
}

.menusection__hdr__title::before {
  content: "";
  background-color: #4acbab;
  width: 2.5em;
  height: 0.2em;
  position: absolute;
  top: 1.5em;
}

.menusection__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menusection__block__btn {
  background-color: white;
  width: 90%;
  max-width: 25em;
  height: 75px;
  border-radius: 20px;
  box-shadow: 0.25rem 0.25rem 5px #c5c0c0;
  padding: 0 0 0 1em;
  margin: .75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .menusection__block__btn {
    box-shadow: none;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .menusection__block__btn {
    box-shadow: none;
  }
}

@media (min-width: 1441px) {
  .menusection__block__btn {
    box-shadow: none;
  }
}

.menusection__block__btn__name {
  width: 180px;
}

.menusection__block__btn__name__title {
  font-size: 1em;
  margin: 2% 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menusection__block__btn__name__details {
  margin: 1% 0 2% 0;
  opacity: 0.5;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menusection__block__btn__price {
  width: 30px;
  padding-top: 1.5em;
  font-weight: bold;
}

.menusection__block__btn__order {
  background-color: #99E2D0;
  width: 70px;
  height: 75px;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menusection__block__btn__order__container {
  display: flex;
  justify-content: center;
  border-radius: 100px;
  width: 35px;
}

.menusection__block__btn__order__container__icon {
  width: 1.2em;
}

.container-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5em 0 5em 0;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .container-order {
    width: 100%;
    padding: 5em 2em 0em 0;
  }
}

@media (min-width: 1441px) {
  .container-order {
    width: 100%;
    padding: 5em 2em 0em 0;
  }
}

.container-order__btn {
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 1.2em 3em 1.2em 3em;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: 0.25rem 0.25rem 5px #c5c0c0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container-order__btn {
    box-shadow: none;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .container-order__btn {
    box-shadow: none;
  }
}

@media (min-width: 1441px) {
  .container-order__btn {
    box-shadow: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-menu {
    position: relative;
    top: 5em;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .footer-menu {
    position: relative;
    top: 15em;
    padding-left: 2.5%;
  }
}

@media (min-width: 1441px) {
  .footer-menu {
    position: relative;
    top: 15em;
    padding-left: 2.5%;
  }
}

/* 				1. Utils :
					1. Variables.
					2. Fonctions.
					3. Mixins.
					4. Placeholders.
				2. Feuilles de style de tiers (vendors) (si vous en avez).
				3. Base.
				4. Composants.
				5. Layout.
				6. Pages.
                7. Thèmes. */
/*# sourceMappingURL=style.css.map */