@mixin btn-basic {
    color: white;
    font-size: 1.25em;
    
    padding: 1em 2.5em 1em 2.5em;
    border-radius: 35px;
    border: none;
    text-decoration: none;
}

@mixin shadow {
    box-shadow: 0.25rem 0.25rem 5px $shadow;
}

@mixin gradation-btn {
    background-image: linear-gradient(0deg,$primary-clr, $secundary-clr);
}

@mixin hover-btn--light {
    opacity: 0.75;
}

@mixin hover-btn--shadow {
    box-shadow: 0.25rem 0.25rem 10px darken($shadow, 50%)
}
@mixin mini-mobile {
    @media (max-width: 374px){@content;}
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1024px){@content;}
}

@mixin desktop {
    @media (min-width: 1025px) and (max-width: 1440px){@content;}
}

@mixin desktop-L {
    @media (min-width: 1441px){@content;}
} 